.MainDash {
  padding-top: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}

.filterwrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
